# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.idea/
# data

# Executables
*.swf
*.air
*.ipa
*.apk

# files

*.mid
*.mp3
# *.zip
*.DS_Store
.DS_Store
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
utils/.DS_Store


# root
*.tsv
/mdp/data/raw/research_dataset/Wikifonia/Wikifonia_xml/*.mxl
/mdp/data/raw/research_dataset/Wikifonia/Wikifonia_xml/*.mxl.*
*.pyc
utils/mid_dp/.DS_Store
utils/metrics/.DS_Store
*.zip
