# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.idea/
# data

# Executables
*.swf
*.air
*.ipa
*.apk

# files
data/raw/research_dataset/Wikifonia/Wikifonia_xml
*/*/.DS_Store
# /**/*.zip
/**/.DS_Store
*.mid
*.mp3
# *.zip
*.DS_Store
.DS_Store
.DS_Store
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
utils/.DS_Store

*/*/*/*.txt

# root
.DS_Store
*.tsv
*.jpg
*.csv
*.pyc
utils/mid_dp/.DS_Store
utils/metrics/.DS_Store
data/raw/research_dataset/Wikifonia/Wikifonia_mid_test/全局调性统一测试.zip
data/raw/research_dataset/Wikifonia/Wikifonia_xml.zip
